@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}
.swiper-pagination-bullet {
  background: #d9d9d9 !important;
  width: 14px !important;
  height: 14px !important;
  opacity: 100% !important;
}
.swiper-pagination-bullet-active {
  background: #f58220 !important;
}
.hero .swiper {
  padding-bottom: 40px;
}

.gallery_slider .swiper-pagination {
  bottom: 0% !important;
}
@media (max-width: 767.9px) {
  .swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
  }
}
